.Side-bar
  .Side-bar__user-name
    .top-items
      %p.top-items__user-name
        USER
      %ul.top-items__icons
        %li.top-items__icons-new
          %a(href="#")
            %i{class: "far fa-edit"}
        %li.top-items__icons-edit
          %a(href="#")
            %i{class: "fas fa-cog"}
  .Side-bar__group-list

    .group
      %p.group__group-name techcamp
      %p.group__latest-message まだメッセージがありません

    .group
      %p.group__group-name techcamp
      %p.group__latest-message まだメッセージがありません

    .group
      %p.group__group-name techcamp
      %p.group__latest-message まだメッセージがありません
