.Side-bar
  .Side-bar__user-name
    .top-items
      %p.top-items__user-name
        USER
      %ul.top-items__icons
        %li.top-items__icons-new
          = link_to "#" do
            <i class="far fa-edit"></i>
        %li.top-items__icons-edit
          = link_to "#" do
            <i class="fas fa-cog"></i>
  .Side-bar__group-list

    .group
      %p.group__group-name techcamp
      %p.group__latest-message まだメッセージがありません

    .group
      %p.group__group-name techcamp
      %p.group__latest-message まだメッセージがありません

    .group
      %p.group__group-name techcamp
      %p.group__latest-message まだメッセージがありません
